# Python bytecode


# Folder data (opsional, jika data sangat besar)
# data/raw/

# Folder output
/results/
/reports/
/saved_models/

# File lingkungan
.env
venv/

# File spesifik OS
.DS_Store
Thumbs.db
.vscode


todo.md
uv_rules.json

.conda_env
.venv
data
__pycache__/
models