# Python bytecode
__pycache__/
*.pyc

# Folder data (opsional, jika data sangat besar)
# data/raw/

# Folder output
/results/
/reports/
/saved_models/

# File lingkungan
.env
venv/

# File spesifik OS
.DS_Store
Thumbs.db
data
notebook_jupyter